body{
    background-color: rgb(255, 210, 187);
}


#envelope{
    position: relative;
    background-color:#e2ec59;
    width: 380px;
    height: 280px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    top: 250px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.flap{
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    border-bottom: 132px solid transparent;
    border-top: 148px solid #cac44d;
    border-radius: 6px;
    transform-origin: top;
    pointer-events: none;
}

.pocket{
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
    border-left: 190px solid #e2ec59; /* Soft pinkish red for the pocket */
    border-right: 190px solid#e0ec59;
    border-bottom: 140px solid #cab34d;
    border-top: 140px solid transparent;
    border-radius: 6px;
}


.letter{
    position: relative;
    background-color: rgb(232, 200, 130);
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    top: 5%;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
}

.letter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.words {
  position: absolute;
  left: 2%;
}

.words.line1 {
  top: 10%;
}

.words.line2 {
  top: 20%;
  text-align: center;
}

.words.line3 {
  top: 35%;
  text-align: center;
}

.words.line4 {
  top: 45%;
  text-align: center;
}

.words.line5 {
  top: 75%;
  text-align: center;
  left: 30%;
}

.words.line6 {
  top: 80%;
  text-align: center;
  left: 6%;
}

.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.close .flap {
  transform: rotateX(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}

.close .letter {
  transform: translateY(0px);
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
}

.open .letter {
  transform: translateY(-200px);
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  z-index: 2;
}

.envlope-wrapper {
  height: 380px;
}

.reset{
  position: relative;
  top: 290px;
  left: 41%;
}
.reset button {
  font-weight: 800;
  background-color: brown;
  border: solid 2px #a61611;
  border-radius: 4px;
  color: #fff6f6;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  min-width: 120px;

}

.reset button:hover {
  background-color: #d9534f;
  color: #fff;
}
